@font-face {
    font-family: harting;
    src: url(fonts/harting/harting_plain.ttf);
}

@font-face {
    font-family: special-elite;
    src: url(fonts/special-elite/special_elite.ttf);
}
body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}

/* .page-container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    background-color: white; */
/* } */
.header-image{
    height: 90px;
    background-image: url("images/portfolio_background.png");
}
.divider{
    height: 20px;
background-image: url("images/portfolio_background.png");
width:100%;
max-width:none;
}
.background-tint {
    background-color: rgba(0, 0, 0, 0.250);
    background-blend-mode: multiply;
  }

.header{
    background-color: black;
    padding: 0px;

}

.my-name{
    margin:0;
    color:#ff52b2;
    font-size: 50px;
    font-family: harting;
}
.tag-line{
    color:white;
    text-decoration:none;
    margin:0px;
    font-family: special-elite;
    padding-left: 7px;
    padding-bottom: 7px;
}
.header-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;

}
nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap:5px;
    color:white;
    padding: 0px;
    margin:0px;
    font-family: special-elite;
    font-size: 25px;
}

nav a{
    color:white;
    text-decoration: none;
}
.content-div{
    padding: 20px 20px;
    margin: 30px 0px;
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
h1{
    font-family: special-elite;
    font-size:22px;
    font-weight: bolder;
    padding:0px;
    margin:0px;
}
p{
    margin:0px;
}
.page-content{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:10px;
}
.my-picture{
    max-width:300px;
}

/* Form */
label{
    font-family: special-elite;
    font-size: 18px;
    text-align: right;
}

form{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:10px 50px;
    width:100%;
    max-width: 800px;
    margin-top: 15px;
}
.submit{
    color:#ffe557;
    font-family: special-elite;
    background-color: black;
    padding:6px 6px 4px 6px;
    border-width: 0px;
    border-radius: 0px;
}

footer{
    height: 50px;
    background-image: url("images/portfolio_background.png");  
    background-color: rgba(0, 0, 0, 0.250);
    background-blend-mode: multiply;

    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:0;

    font-family:special-elite;
    color:white;
    text-align: center;
}

@media screen and (max-width:750px) { 
    /* Remove flexbox from header nav */
    .header-2{
        display:block;
    }
    nav{
    justify-content: left;
    margin-left:7px;
    }

    /* Remove grid from main */
    main{
        padding: 10px;
    }
    .page-content{
        grid-template-columns: 1fr;

    }
    /* Form */
    form{
        grid-template-columns: 1fr;
        max-width:400px;
        padding-left: 50px;
    }
    label{
        text-align: left;
    }

}
